<h1>Welcome to the <%= @user.name %> 's classroom</h1>
<iframe src='http://willyou.typewith.me/p/<%= @user.random_string%>?showControls=true&showChat=true&showLineNumbers=fals\e&useMonospaceFont=false&userName=<%=current_user.name%>' width=600 height=400></iframe>


