<iframe src='http://willyou.typewith.me/p/dina?showControls=true&showChat=false&showLineNumbers=false&useMonospaceFont=false&userName=<%=current_user.name%>' width=600 height=400>

<h1>Welcome to HelpRoom</h1>

