<h1>Welcome to HelpRoom</h1>

<h3>What is this?</h3>
<p>Think of HelpRoom as office hours without the hassle of having to meet in person: it's a virtual space for TA's and students to give and get help.</p>
