<h1>Welcome to HelpRoom</h1>

<h2>What is this?</h2>
<h3>Think of HelpRoom as office hours without the hassle of having to meet in person--it's a virtual space for talking to TA's and other students about schoolwork.</h3>
