<style type="text/css">

    </style>

<h1>Welcome to HelpRoom</h1>

    <div class=" span8 pull-left" style='height:200px;'>
      <%= image_tag("chalkboard.jpg",:height =>'180%')%>
    </div>
    
    <div class="well span5 pull-right" style='height:320px;'>
	<h2>Hosting a classroom</h1>
		<ul>
			<li>Create an account</li>
			<li>Confirm your email</li>
			<li>Share your link with your students : XXX/c/Your-UNI</li>
		</ul>
			
	<h2>Joining a classroom</h2>
	<ul>
		<li>Create an account</li>
		<li>Confirm your email</li>
		<li>Go to your TA's classroom XXX/c/TA-uni'</li>
	</ul>
	</br>
	<a href=/users/sign_up><button class="btn large success"> >> Get started Now! </button> </a>
       
    </div>
    
