/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require twitter/bootstrap
 *= require_tree . 
*/


body {
  padding-top: 60px;
}
.content-row div{
  display:inline-block;
  width:192px;
}
.content-row input.btn{
  margin:auto;
  font-weight:bold;
  width:100%;
}
img.content-thumbnail{
  width:100%;
}
.title{
  font-weight:bold;
  font-size:18pt;
  text-align:center;
}
.current-price{
  color:#b94a48;
  font-weight:bold;
  font-size:22pt;
  text-align:center;
}
.time-left{
  color:#468847;
  font-weight:bold;
  font-size:18pt;
  text-align:center;
}
#identity {
		  margin-left: 10% ;
		  }
		
